/Java_projects/project1/target/
/Java_projects/project2/target/
/Java_projects/project3/target/
/Java_projects/project4/target/
/Java_projects/project5/cat-service/target/
/Java_projects/project5/gateway/target/
/Java_projects/project5/owner-service/target/

/shelf/
/workspace.xml

out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store
/project1/target/
/project2/target/
/project3/target/
/project4/target/
/project5/target/
